<footer>
    
    <div class="footer_info">
        <div class="footer_info_socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
    </div>
        <div class="footer_info_brand"> &copy;Nestero Private Limited</div>
        <div class="footer_info_links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
    
</footer>